/**CSS File**/

html, body{
	margin: 0;
	padding: 0;
	height: 100%;

}

.header{
	margin: 0 auto;
	width: 60%;
	height: 10%;
	background-color: red;
}

.content{
	margin: 0 auto;
	width: 60%;
	height: 90%;
	background-color: green;
	display: inline-block;
}

.left-navi{
	height: 100%;
	width: 20%;
	float: left;
	background-color: blue;
}

.left-navi:after{
	content: "";
	display: block;
	clear: both;
	height: 0;
}

.right-panel{
	height: 100%;
	width: 20%;
	float: right;
	background-color: orange;
}

.right-panel:after{
	content: "";
	display: block;
	clear: both;
	height: 0;
}