@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@(Html.Kendo()
    .Grid<TicketSystem.Web.Models.CategoryViewModel>()
    .Name("comments-grid")
    .Pageable()
    .Sortable()
    .ToolBar(tool => tool.Create().Text("Create Category"))
    .Editable(edit =>
            {
                edit.Mode(GridEditMode.PopUp);
            })
    .Filterable()
    .Columns(col =>
            {
                col.Bound(m => m.Name);
                col.Command(com =>
                            {
                                com.Edit();
                                com.Destroy();
                            }).Title("Commands");
            })
    .DataSource(data =>
            {
                data.Ajax()
                    .ServerOperation(true)
                    .PageSize(10)
                    .Model(m =>
                        {
                            m.Id("Name");
                        })
                    .Read("ReadCategories", "CategoriesAdministration")
                    .Update("UpdateCategory", "CategoriesAdministration")
                    .Destroy("DestroyCategory", "CategoriesAdministration")
                    .Create("CreateCategory", "CategoriesAdministration");
            }))