html,body,section,ul,li,img,input[type=radio],label{
	padding: 0;
	margin: 0;
}

.gallery{
	margin-top: 10px;
	margin-left: 10px;
	
	li{
		display: inline-block;
	}

	input[type=radio]{
	display: none;
		
	&+label img{
		display: none;
	}
			
		&:checked+label img{
			display: block;
			margin-top: 20px;
			width: 500px;
			height: 500px;
			border: 1px solid #666;
			border-radius: 5px;
			box-shadow: 5px 5px 10px #000;
		}
	}
}
